<html>
    <head>
        <script type="text/javascript" src="bower_components/angular/angular.js"></script>
        <!--<link rel="stylesheet" href="styles.css" />-->
        
        <script src="script.js"></script>
    </head>
    <body ng-app="app">
        <div ng-controller="myCtrl">
        <h1>{{ test }}</h1>
        <p>hello world</p>
        <img ng-show="imgUrl1!==''" ng-src="{{imgUrl}}" alt="profile image" />
        
        
        <form name="simpleForm" ng-submit="increment(number)">
            <input type="number" min="0" max="40" required placeholder="number" ng-model="number" />
            <p>search term: {{number}}</p>
            <button type="button" ng-click="increment(number)">increment number</button>
            <input type="submit" value="submit me" />
        </form>
        </div>
        <hr>
        <div ng-controller="myCtrl2">
            <p>{{testing}} hey yo</p>
            <ul>
                <li ng-repeat="repo in repos | orderBy:'+stargazers_count'">
                    name: {{repo.name}} stargazers_count: {{repo.stargazers_count | number}}
                </li>
            </ul>
            
            <div ng-include="'shamo.html'"></div>
            <div ng-include="'shamo.html'"></div>
        </div>
        
        
        <script id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:8080/browser-sync/browser-sync-client.js?v=2.18.8'><\/script>".replace("HOST", location.hostname));
//]]></script>
        
    </body>
</html>